<div class="filter">

  <div id="categoryCarousel" class="carousel slide" data-bs-ride="false">
    <div class="carousel-inner text-center">

      <!-- Slide 1 -->
      <div class="carousel-item active">
        <div class="row justify-content-start category-slider">

          <div class="col-3 category-item" data-category="iconic cities">
            <i class="fa-solid fa-city icon"></i>
            <p>Iconic cities</p>
          </div>

          <div class="col-3 category-item" data-category="trending">
            <i class="fa-solid fa-fire icon"></i>
            <p>Trending</p>
          </div>


          <div class="col-3 category-item" data-category="beach">
            <i class="fa-solid fa-umbrella-beach icon"></i>
            <p>Beach</p>
          </div>

          <div class="col-3 category-item" data-category="pools">
            <i class="fa-solid fa-person-swimming icon"></i>
            <p>Pools</p>
          </div>

          <div class="col-3 category-item" data-category="cabins">
            <i class="fa-solid fa-house-chimney icon"></i>
            <p>Cabins</p>
          </div>

        </div>
      </div>

      <!-- Slide 2 -->
      <div class="carousel-item">
        <div class="row justify-content-start category-slider">

          <div class="col-3 category-item" data-category="rooms">
            <i class="fa-solid fa-bed icon"></i>
            <p>Rooms</p>
          </div>

          <div class="col-3 category-item" data-category="luxury">
            <i class="fa-solid fa-gem icon"></i>
            <p>Luxury</p>
          </div>

          <div class="col-3 category-item" data-category="nature">
            <i class="fa-solid fa-leaf icon"></i>
            <p>Nature</p>
          </div>

          <div class="col-3 category-item" data-category="desert">
            <i class="fa-solid fa-sun icon"></i>
            <p>Desert</p>
          </div>

          <div class="col-3 category-item" data-category="mountains">
            <i class="fa-solid fa-mountain icon"></i>
            <p>Mountains</p>
          </div>

        </div>
      </div>

      <!-- Slide 3 -->
      <div class="carousel-item">
        <div class="row justify-content-start category-slider">

          <div class="col-3 category-item" data-category="farms">
            <i class="fa-solid fa-tractor icon"></i>
            <p>Farms</p>
          </div>

          <div class="col-3 category-item" data-category="camping">
            <i class="fa-solid fa-campground icon"></i>
            <p>Camping</p>
          </div>

          <div class="col-3 category-item" data-category="unique stays">
            <i class="fa-solid fa-star icon"></i>
            <p>Unique stays</p>
          </div>

          <div class="col-3 category-item" data-category="arctic">
            <i class="fa-solid fa-snowflake icon"></i>
            <p>Arctic</p>
          </div>

          <div class="col-3 category-item" data-category="heritage">
            <i class="fa-solid fa-landmark icon"></i>
            <p>Heritage</p>
          </div>

        </div>
      </div>

    </div>

    <!-- Controls -->
    <!-- <button class="carousel-control-prev" type="button" data-bs-target="#categoryCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button> -->

    <button class="carousel-control-next" type="button" data-bs-target="#categoryCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>

  <div class="d-flex justify-content-between align-items-center gap-3" >
    <!--EXPLORE MAP BUTTON-->
    <div class="filter-btns mapbtn">
      <a href="/listings/map">Explore Map <i class="fa-solid fa-location-dot"></i></a>
    </div>
    
    <!--TAX TOGGLE BUTTON-->
    <div class="form-check form-switch form-check-reverse filter-btns">
      <input class="form-check-input tax-toggle-btn pe-4" type="checkbox" id="switchCheckReverse">
      <label class="form-check-label tax-toggle-label pe-2" for="switchCheckReverse">GST details show</label>
    </div>
  </div> 

</div>