<% layout('/layouts/boilerplate.ejs') %>
<body>
  <div class="alert alert-success mt-5" role="alert">
    <h4 class="alert-heading"> <%= err.name %> | <%= err.status %> </h4>
    <p> <%= err.message %> </p>
    <hr>
    <p class="mb-0">If this issue persists, please try again or contact support.  
  Thank you for using <b>Airbnb Clone</b>.</p>
  </div>
</body>

