<% layout('/layouts/boilerplate') %>

<body>
    <div class="row mt-4 mb-5">
        <div class="col-10 col-lg-6">
            <h3 class="mb-5 red-text">Login in airbnb
                <hr>
            </h3>
            <form action="/login" method="post" novalidate class="needs-validation">
                <div class="mb-3">
                    <label for="username" class="form-label">Enter your Username : </label>
                    <input type="text" name="username" id="username" class="form-control" required >
                    <div class="invalid-feedback">username is required!</div>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Enter your Password :</label>
                    <div class="input-group">
                        <input type="password" name="password" id="password" class="form-control" required>
                        <button class="btn btn-secondary" type="button" id="togglePassword">
                            <i class="bi bi-eye"></i>
                        </button>
                    </div>
                    <div class="invalid-feedback">password is required!</div>
                </div>

                <p class="mt-2"><a href="/signup">First time here? Create an account—no fear.</a></p>
                <div class="mb-3">
                    <button type="submit" class="btnUpper">Login</button>
                </div>
            </form>
        </div>
    </div>
</body>